<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
</head>
<body>
<header>
    <h1>Submit a new post</h1>
</header>
<main>
    <form th:action="@{'/submit'}" th:method="post" th:object="${newPost}">
        <label for="description">Title:</label>
        <input id="description" type="text" th:field="*{description}" required>
        <label for="url">URL:</label>
        <input id="url" type="text" th:field="*{url}" required>
        <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>